@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:300,400|Montserrat:400,700|Bree+Serif');

// Global Style
$font_title: 'Bree Serif', serif;
$font_toolbar: 'Montserrat', sans-serif;
$font_main: 'Lato', sans-serif;
$font_secondary: 'Open Sans', sans-serif;
$primary_font: #414141;
$primary_color: #50e3c2;

/* Unit View Port Size based on Artboard - Desktop (Responsive)*/
$unit_height: 100vh / 700;
$unit_width: 100vw / 1200;

$main_content_width: calc(100% - 290px);
$main_content_margin: 20px 0 0 20px;

/* Initial Style Settings */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font: 100% $font_secondary;
}

.main-content-body {
  margin-top: 80px;
}

/**
* Vue Loading
*/
.vld-overlay.is-full-page {
    z-index: 9999 !important;
}

// Google autocomplete suggestion box
.pac-container {
	z-index: 9999 !important;
}